<!DOCTYPE html>
<html lang="en">
  
<head>
  <link rel="icon" href="data:,">
  <meta charset="UTF-8">
  <title>Sketch2Digit Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> <!--easyest way I foind to add the logos-->
</head>


<body>
  <div class="grid-section">
    <button type="button" id="resetButton">Clear</button>
    <div class="grid" id="drawingGrid"></div>
  </div>

  <div class="chart-section">
    <button type="button" id="runButton">Run Model</button>
    <canvas id="myChart" width="480" height="240"></canvas>
  </div>

  <div class="description">
      <p>A convolutional neural network that recognizes handwritten digits (trained on MNIST).</p>
      <br>
      <p>Learn more about the implementation:</p>
      <br>
      <div class="links">
        <a href="https://github.com/Lucas-ZR/Sketch2Digit" style="margin-right: 20px;">
          <i class="fab fa-github"></i> GitHub
        </a>
      </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>


</html> 